    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .container {
      max-width: 600px;
      margin: 40px auto 0;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1,
    h3,
    p {
      margin: 0 0 10px;
    }

    h1 {
      font-size: 2.5rem;
      color: #007bff;
    }

    h3 {
      font-size: 1.8rem;
      color: #444;
    }

    p {
      font-size: 1.3rem;
      color: #666;
    }

    button {
      display: block;
      margin: 40px auto 0;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.3rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0062cc;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .alert-failed {
      margin-top: 10px;
      text-align: center;
      background-color: red;
      border-radius: 5px;
      color: white;
      padding: 5px;
    }

    .alert-success {
      margin-top: 10px;
      text-align: center;
      background-color: green;
      border-radius: 5px;
      color: white;
      padding: 5px;
    }