
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 500px;
    margin: 50px auto 0;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0069d9;
}

nav {
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f8f9fa;
}

.alert-failed{
    margin-top: 10px;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.alert-success{
    margin-top: 10px;
    text-align: center;
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 5px;
}